
html, body {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-family: Arial;
    font-weight: normal;
    font-size: 36px;
    color: #20343E;
}

h2 {
    font-family: Arial;
    font-weight: normal;
    font-size: 20px;
    color: #20343E;
    line-height: 24px;
}

h3 {
    font-family: Arial;
    font-size: 14px;
    color: #42535C;
    line-height: 20px;
    display: inline;
}

.main-container {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
}

.top-container {
    align-items: center;
    max-height: 50%;
    min-height: 50%;
    max-width: 100%;
    width: 100%;
    background: #EFF2F5;
    box-shadow: 0 2px 2px 0 rgba(140, 155, 165, 0.25);
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bottom-container {
    width: 100%;
    background: white;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 3%;
}

.flex-top {
    flex: 1;
    text-align: center;
    margin-top: 2.5%;
}

.flex-bottom {
    font-family: Arial;
    font-weight: normal;
    flex: none;
    font-size: 14px;
    color: #42535C;
    line-height: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.img-circle {
    border-radius: 50%;
}

.text-div {
    flex: 1;
    text-align: center;
}

.button {
    font-family: Arial;
    font-weight: bold;
    background-color: #4178BE;
    border: none;
    color: #FFFFFF;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 1.5%;
    cursor: pointer;
}

.hint {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
}